<section class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    <ul class="o-layout">
      {% if title != "Scales" %}
      <li class="o-layout__item u-1/2@small u-1/3@medium">
        <article class="o-box c-card">
          <h2 class="c-card__title"><a href="/scales/" class="c-link c-card__link">Scales</a></h2>
        </article>
      </li>
      {% endif %}
      {% if title != "Arpeggio's" %}
      <li class="o-layout__item u-1/2@small u-1/3@medium">
        <article class="o-box c-card">
          <h2 class="c-card__title"><a href="/arpeggios/" class="c-link c-card__link">Arpeggio's</a></h2>
        </article>
      </li>
      {% endif %}
      {% if title != "Chords" %}
      <li class="o-layout__item u-1/2@small u-1/3@medium">
        <article class="o-box c-card">
          <h2 class="c-card__title"><a href="/chords/" class="c-link c-card__link">Chords</a></h2>
        </article>
      </li>
      {% endif %}
      {% if title != "Chord sequences" %}
      <li class="o-layout__item u-1/2@small u-1/3@medium">
        <article class="o-box c-card">
          <h2 class="c-card__title"><a href="/sequences/" class="c-link c-card__link">Chord sequences</a></h2>
        </article>
      </li>
      {% endif %}
      <!-- <li class="o-layout__item u-1/2@small u-1/3@medium">
        <article class="o-box c-card">
          <h2 class="c-card__title"><a href="/excercises/" class="c-link c-card__link">Excercises</a></h2>
        </article>
      </li>
      <li class="o-layout__item u-1/2@small u-1/3@medium">
        <article class="o-box c-card">
          <h2 class="c-card__title"><a href="/licks/" class="c-link c-card__link">Blues/jazz licks</a></h2>
        </article>
      </li> -->
    </ul>
  </div>
</section>
