{% comment %}
{% include organism.footer.html %}
{% endcomment %}
<div class="o-row">
  <div class="o-wrapper o-wrapper--huge c-ui c-ui--footer">
    <p class="c-small">
      Made by <a href="https://roaringandgentle.com" class="c-link">{{ site.copyright.author }}</a>
    </p>
  </div>
</div>
