<!DOCTYPE html>
<html data-user-color-scheme="light">
  {% include "components/organism.head.liquid" %}
  <body>
    {{ content }}
    {% include "components/organism.javascript.liquid" %}
  </body>
</html>
