---
title: Licks
layout: index
permalink: "/licks/"
---

<section class="o-row-large u-padding-bottom-none">
  <div class="o-wrapper o-wrapper--huge">
    <h1 class="c-page-title">Blues/jazz licks</h1>
  </div>
</div>

<section class="o-row-large u-padding-top-none">
  <div class="o-wrapper o-wrapper--huge">
    <h2 class="c-section-title">-</h2>
    <ul class="o-layout">
      <li class="o-layout__item">
        {% include "components/organism.tab.liquid",
          label: ""
          base:"-"
          variation:""
          start: ""
          E: "1, 2s, 3, 4"
        %}
      </li>
    </ul>
  </div>
</section>
