---
title: Chord sequences
layout: index
permalink: "/sequences/"
---

<section class="o-row-large u-padding-bottom-none">
  <div class="o-wrapper o-wrapper--huge">
    <a href="/" class="c-link c-link--button">Back</a>
    <h1 class="c-page-title">Chord sequences</h1>
  </div>
</div>

<section class="o-row-large u-padding-top-none">
  <div class="o-wrapper o-wrapper--huge">
    <h2 class="c-section-title">B minor</h2>
    <ul class="o-layout">
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "i"
          base:"B"
          variation:"min"
          start: ""
          E: ""
          A: "2"
          D: "4"
          G: "4"
          B: "3"
          e: "2"
        %}
      </li>
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "iidim"
          base:"C#"
          variation:"dim"
          start: "3-4fr"
          E: ""
          A: "2"
          D: "3"
          G: "4"
          B: "3"
          e: ""
        %}
      </li>
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "III"
          base:"D"
          variation:""
          start: ""
          E: ""
          A: "5"
          D: "4"
          G: "2"
          B: "3"
          e: "2"
        %}
      </li>
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "iv"
          base:"E"
          variation:"min"
          start: ""
          E: ""
          A: "2"
          D: "2"
          G: ""
          B: ""
          e: ""
        %}
      </li>
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "v"
          base:"F#"
          variation:"min"
          start: ""
          E: "2"
          A: "4"
          D: "4"
          G: "2"
          B: "2"
          e: "2"
        %}
      </li>
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "VI"
          base:"G"
          variation:""
          start: ""
          E: "2"
          A: "3"
          D: ""
          G: ""
          B: "2"
          e: "2"
        %}
      </li>
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "VII"
          base:"A"
          variation:""
          start: ""
          E: ""
          A: ""
          D: "2"
          G: "2"
          B: "2"
          e: ""
        %}
      </li>
    </ul>
  </div>
</section>

<!-- <section class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    <h2 class="c-section-title">Natural minor scale (Aeolian mode)</h2>

  </div>
</section>

<section class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    <h2 class="c-section-title">Pentatonic scales</h2>
    <ul class="o-layout">
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "1st / E-shape"
          base:"A"
          variation:""
          start: "2-5fr"
          E: "2r, 5"
          A: "2, 4"
          D: "2, 4r"
          G: "2, 4"
          B: "2, 5"
          e: "2r, 5"
        %}
      </li>
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "2nd / D-shape"
          base:"A"
          variation:""
          start: "2-7fr"
          E: "3, 5"
          A: "2, 5"
          D: "2r, 5"
          G: "2, 4"
          B: "3, 5r"
          e: "3, 5"
        %}
      </li>
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "3d / C-shape"
          base:"A"
          variation:""
          start: "2-10fr"
          E: "2, 4"
          A: "2, 4r"
          D: "2, 4"
          G: "1, 4"
          B: "2r, 5"
          e: "2, 4"
        %}
      </li>
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "4th / A-shape"
          base:"A"
          variation:""
          start: "2-12fr"
          E: "2, 5"
          A: "2r, 5"
          D: "2, 4"
          G: "2, 4r"
          B: "3, 5"
          e: "2, 5"
        %}
      </li>
      <li class="o-layout__item u-1/5@medium">
        {% include "components/organism.chord-box.liquid",
          label: "5th / G-shape"
          base:"A"
          variation:""
          start: "2-15fr"
          E: "2, 4r"
          A: "2, 4"
          D: "1, 4"
          G: "1r, 4"
          B: "2, 4"
          e: "2, 4r"
        %}
      </li>
    </ul>
  </div>
</section>

<section class="o-row-large">
  <div class="o-wrapper o-wrapper--huge">
    <h2 class="c-section-title">Minor blues in A</h2>
    <ul class="o-layout">
      <li class="o-layout__item u-1/4@medium">
        {% include "components/organism.chord-box.liquid",
          label: "I"
          base:"A"
          variation:"min7"
          start: "2-5fr"
          E: "2"
          A: "4"
          D: "2"
          G: "2"
          B: "2"
          e: ""
        %}
      </li>
      <li class="o-layout__item u-1/4@medium">
        {% include "components/organism.chord-box.liquid",
          label: "IV"
          base:"D"
          variation:"min7"
          start: "2-5fr"
          E: ""
          A: "2"
          D: "4"
          G: "2"
          B: "3"
          e: "2"
        %}
      </li>
      <li class="o-layout__item u-1/4@medium">
        {% include "components/organism.chord-box.liquid",
          label: "VI"
          base:"F"
          variation:"maj7"
          start: "2-8fr"
          E: ""
          A: "2"
          D: "4"
          G: "3"
          B: "4"
          e: "2"
        %}
      </li>
      <li class="o-layout__item u-1/4@medium">
        {% include "components/organism.chord-box.liquid",
          label: "V"
          base:"E"
          variation:"min7"
          start: "2-7fr"
          E: ""
          A: "2"
          D: "4"
          G: "2"
          B: "3"
          e: "2"
        %}
      </li>
    </ul>
  </div>
</section> -->

{% include "components/component.navigation.liquid" %}
